.navbar {
  @apply fixed bottom-0 left-0 right-0 z-20 flex justify-start border-t border-slate-900 bg-black;
}

.navbar-list {
  @apply m-0 flex w-full list-none items-center justify-start gap-0 p-0;
}

.navbar-item {
  @apply flex -ml-px first:ml-0;
}

.navbar-link {
  @apply block border border-slate-900 px-4 py-1.5 text-xs font-semibold uppercase tracking-wide text-slate-200 transition-all;
}

.navbar-link--inactive {
  @apply bg-black hover:bg-slate-900;
}

.navbar-link--active {
  @apply border-emerald-600 bg-emerald-600 text-white;
}
