.app-shell {
  @apply flex min-h-screen flex-col bg-slate-950;
}

.app-main {
  @apply flex-1 overflow-y-auto bg-[#1f1f1f];
}

.app-content {
  @apply mx-auto flex h-full w-full max-w-6xl flex-1 flex-col px-6 pb-28 pt-6;
}
