.app-shell {
  @apply flex h-screen flex-col overflow-hidden bg-slate-950;
}

.app-main {
  @apply flex-1 overflow-hidden bg-[#1f1f1f];
}

.app-content {
  @apply mx-auto flex h-full w-full max-w-6xl flex-1 flex-col overflow-hidden px-6;
}
